<div class="d-flex" style="padding: 0; margin: 0">
  <div class="navb">
    <app-vertical-navbar></app-vertical-navbar>
  </div>
  <div class="contenedor-router-footer" style="margin-left: 53px">
    <div
      class="contenedor-router mb-5"
      style="padding: 0; margin: 0; position: relative"
    >
      <sm-loading></sm-loading>
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="footer text-center w-100 mb-2">
    @if (config) {
    <p class="copyright clearfix m-0" style="color: #efdeff !important">
      {{ formatearFecha(currentDate) }} &copy;
      <a
        id="pixinventLink"
        class="empresa"
        style="color: #efdeff !important"
        [href]="config.urlEmpresa"
        target="_blank"
        >{{ config.empresa }}</a
      >
      <span> | Versión: {{ version }}</span>
    </p>
    }
  </footer>
</div>
