<!-- Se puede usar con formulario dinamico o con ngmodel -->
<!-- Se puede usar input de todos los tipos o select (ng-select) -->

<!-- ej: imput con formulario dinamico
  <sm-input
    class="col-6"
    label="Numero documento"
    type="number"
    nameFormControl="personaDocumentoNumero"
    [form]="formulario"
  ></sm-input>
-->

<div [class]="style">
  <div class="text-start">
    @if(label) {
    <label [for]="nameFormControl">{{ label }}</label>
    }
  </div>
  <div>
    @if (form) {
    <div [formGroup]="form">
      @if (type === 'select') {
      <!--  -->
      <ng-select
        [items]="items"
        [bindLabel]="bindLabel"
        [bindValue]="bindValue"
        [formControlName]="nameFormControl"
        [clearable]="clearable"
        (change)="onInputChange($event)"
        (search)="searchOnChange($event.term)"
      >
      </ng-select>
      <!--  -->
      } @else {
      <input
        [type]="type"
        [id]="nameFormControl"
        [formControlName]="nameFormControl"
        [placeholder]="placeholder"
      />
      }
      <!--  -->
      @if (form.controls[nameFormControl].invalid &&
      form.controls[nameFormControl].touched) {
      <div class="text-danger">El campo {{ label }} es obligatorio</div>
      }
    </div>
    } @else {
    <!--  -->
    @if (type === 'select') {
    <!--  -->
    <ng-select
      [items]="items"
      [bindLabel]="bindLabel"
      [bindValue]="bindValue"
      [(ngModel)]="value"
      (change)="onInputChange($event)"
      (search)="searchOnChange($event.term)"
      [clearable]="clearable"
      [disabled]="disabled"
    >
    </ng-select>
    <!--  -->
    <!--  -->
    } @else {
    <input
      class="form-control"
      [type]="type"
      [id]="nameFormControl"
      [(ngModel)]="value"
      (ngModelChange)="onInputChange($event)"
      [disabled]="disabled"
      [placeholder]="placeholder"
    />
    }
    <!--  -->
    }
  </div>
</div>
