@use "bootstrap/scss/bootstrap";

input {
  all: unset;
  color: white !important;
  min-height: 30px !important;
  background-color: transparent !important;
}

input:disabled {
  background-color: rgba(240, 248, 255, 0.102) !important;
}

.formbasic {
  input {
    background-color: transparent !important;
    border-bottom: solid 1px rgba(250, 250, 250, 0.711) !important;
    border: 1px solid rgba(250, 250, 250, 0.711) !important;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    width: 96%;
    text-align: left;
  }

  input:disabled {
    background-color: rgba(240, 248, 255, 0.2) !important;
  }
}

.uppercase {
  input {
    text-transform: uppercase;
  }
}

label {
  font-size: smaller;
  color: white;
}

input:focus {
  border: solid 1px rgb(0, 91, 247) !important; /* Cambia el color del borde */
}

input:focus label {
  border: solid 1px rgb(0, 91, 247) !important; /* Cambia el color del borde */
}

.ng-select {
  background-color: transparent !important;
}

.ng-select.ng-select-disabled {
  background-color: rgba(240, 248, 255, 0.2) !important;
}
