<div [class]="style" style="width: 100%">
  <div>
    <label [for]="nameFormControl">{{ label }}:</label>
  </div>
  <div>
    @if (form) {
    <div [formGroup]="form">
      @if (type === 'select') {
      <ng-select
        [items]="items"
        [bindLabel]="bindLabel"
        [bindValue]="bindValue"
        [formControlName]="nameFormControl"
        [class]="style"
      >
      </ng-select>
      } @else {
      <input
        [type]="type"
        [id]="nameFormControl"
        [formControlName]="nameFormControl"
        [class]="style"
      />
      } @if (form.controls[nameFormControl].invalid &&
      form.controls[nameFormControl].touched) {
      <div class="text-danger">El campo {{ label }} es obligatorio</div>
      }
    </div>
    } @else { @if (type === 'select') {
    <ng-select
      [items]="items"
      [bindLabel]="bindLabel"
      [bindValue]="bindValue"
      [(ngModel)]="value"
      (ngModelChange)="onInputChange($event)"
      [class]="style"
      [disabled]="disabled"
    >
    </ng-select>
    } @else {
    <input
      [type]="type"
      [id]="nameFormControl"
      [(ngModel)]="value"
      (ngModelChange)="onInputChange($event)"
      [class]="style"
      [disabled]="disabled"
    />
    } }
  </div>
</div>
