@use "../../scss/default.scss" as *;

input {
  all: unset;
  color: $primary-text-color !important;
  min-height: 30px !important;
  background-color: transparent !important;
}

input:disabled {
  background-color: $ng-select-background !important;
}

.formbasic {
  input {
    background-color: transparent !important;
    border-bottom: solid 1px $ng-select-border !important;
    border: 1px solid $ng-select-border !important;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    width: 96%;
    text-align: left;
    color: $primary-text-color !important;
  }

  input:disabled {
    background-color: $ng-select-background !important;
    color: $ng-select-text-color !important;
  }
}

.uppercase {
  input {
    text-transform: uppercase;
  }
}

label {
  font-size: smaller;
  color: $primary-text-color;
}

input:focus {
  border: solid 1px $pagination-active-background !important;
}

input:focus + label {
  color: $pagination-active-background !important;
}

.ng-select {
  background-color: transparent !important;
}

.ng-select.ng-select-disabled {
  background-color: $ng-select-background !important;
}
